@import "tailwindcss";

@theme {
  --color-bg-panel: #1a1c22;
  --color-bg-main: #0f1115;
  --color-bg-dark: #050607;
  --color-border-subtle: #2a2d35;
  --color-accent-blue: #3b82f6;
  --color-accent-yellow: #f59e0b;
}

body {
  @apply bg-bg-main text-gray-300 antialiased;
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
}

.knob-track {
  background: conic-gradient(from 180deg, var(--color-accent-blue) 0%, #333 0%);
}
